extends layout

include ./components/header
include ./components/form-label

block head 
  link(rel="stylesheet", href="/stylesheets/signup.css")
  script(type="module", src="/javascripts/signup.js") 

block content
  +header('/phone', 'back', '회원가입')
  form.signup-form
    label.email-label 이메일
      div.email-input
        div.input-container
          input.form-input(type="email", name="email")
          button.cancel-button(type="button") 
            img(src="/images/cancel-circle.png", alt="취소")
          img.check-icon(src="/images/check-active.png", alt="완료")
        button.duplicate-check-button(type="button") 중복확인
      p.error
    +form-label("text", "nickname", "닉네임")
    +form-label("password", "password", "비밀번호")
    +form-label("text", "birthDate", "생년월일")
    button.submit-button(disabled) 완료