extends layout

block head 
  link(rel="stylesheet", href="/stylesheets/signup.css")
  script(type="module", src="/javascripts/signup.js") 

block content
  div.title-bar
    h1 회원가입
    a.back(href="/login") 
      img(src="/images/arrow-left.svg", alt="뒤로가기")
  form.signup-form
    label(for="email") 이메일
      input.form-input(type="email", name="email")
    label(for="nickname") 닉네임
      input.form-input(type="text", name="nickname")
    label(for="password") 비밀번호
      input.form-input(type="password", name="password")
    label(for="birthDate") 생년월일
      input.form-input(type="text", name="birthDate")
    button.submit-button 완료