.check-label {
  display: block;
  width: 100%;
  margin: 6px 0;
}

.radio-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 24px 0;
}

.disabled {
  pointer-events: none;
  background-color: #aaa !important;
}
