.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  margin: 30px 0;
}

.error {
  display: none;
}

.login-form.has-error .error {
  display: block;
}

.signup {
  text-align: center;
}

.signup a {
  margin-left: 4px;
  color: #5ebebb;
}
