form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form:not(.phone-success) .auth-number-label,
form:not(.phone-success) .refresh-auth-number,
form:not(.phone-success) .submit-button {
  display: none;
}
